    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    div.logo {
        width: 100%;
        height: 160px;
        background-image: url(../images/pexels-daniel-absi-952670.jpg);
        background-size: contain;
        display: block;
        text-align: center;
        justify-content: center;
        margin: 0%;
        padding-top: 40px;
    }
    
    h1 {
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 30px;
        color: rgb(219, 239, 255);
        width: 100%;
        text-shadow: 1px 1px 10px rgb(82, 177, 255);
    }
    
    h5 {
        font-size: 100%;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 10px;
        color: rgb(215, 239, 255);
        width: 100%
    }
    
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
        width: 100%;
        height: 45px;
        font-family: 'Roboto', sans-serif;
    }
    
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 50%;
    }
    
    .nav-links li {
        list-style: none;
        margin-top: 11px;
    }
    
    .nav-links a {
        color: white;
        text-decoration: none;
        letter-spacing: 3px;
        font-size: 20px;
    }
    
    .nav-links a:hover {
        color: rgb(116, 167, 180);
        opacity: 0.7;
    }
    
    .burger {
        margin-top: 12px;
        margin-left: 5%;
        display: none;
        cursor: pointer;
    }
    
    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
    }
    
    .socialtop {
        position: relative;
        margin-right: 5%;
    }
    
    .top-social {
        padding: 10px;
    }
    
    .top-social a {
        padding: 15px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        line-height: 50%;
    }
    
    .top-social a:hover {
        color: rgb(116, 167, 180);
        opacity: 0.7;
    }
    
    .carousel-inner {
        background-color: black;
    }
    
    footer {
        background-image: url(../images/pexels-daniel-absi-952670.jpg);
        background-size: contain;
        color: white;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 160px;
        text-align: center;
    }
    
    #copy {
        position: relative;
        top: 120px;
        font-size: 80%;
    }
    
    @media screen and (max-width: 1350px) {
        body {
            overflow-x: hidden;
        }
        .nav-links {
            width: 50%;
        }
    }
    
    @media screen and (max-width: 768px) {
        .nav-links {
            position: fixed;
            left: 0;
            height: 200px;
            top: 205px;
            background-color: rgba(30, 34, 37, 0.699);
            z-index: 2;
            width: 150px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            transform: translatex(-100%);
            transition: transform 0.5 ease-in;
        }
        .nav-links li {
            opacity: 0;
        }
        .burger {
            display: block;
        }
        #copy {
            font-size: 50%;
        }
    }
    
    @media screen and (max-width: 800px) {
        h1 {
            letter-spacing: 12px;
        }
        h5 {
            letter-spacing: 8px;
        }
    }
    
    @media screen and (max-width: 435px) {
        h1 {
            letter-spacing: 5px;
        }
        h5 {
            letter-spacing: 4px;
        }
    }
    
    .nav-active {
        transform: translatex(0%)
    }
    
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    
    .toggle .line1 {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    
    .toggle .line2 {
        opacity: 0;
    }
    
    .toggle .line3 {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    
    .about_a {
        width: 100%;
        height: 100vh;
        background-image: url(../images/cinqusfocata.jpg);
        background-size: cover;
    }
    
    .descrizione {
        position: relative;
        text-align: center;
        top: 30%;
        font-size: 150%;
        color: rgb(255, 223, 176);
        font-family: 'Roboto', sans-serif;
    }
    
    .descrizione p {
        text-shadow: 5px 5px 5px black;
    }